@font-face {
	font-family: 'Play';
	src:
		url('./fonts/PlayBold.woff2') format('woff2'),
		url('./fonts/PlayBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Play';
	src:
		url('./fonts/PlayRegular.woff2') format('woff2'),
		url('./fonts/PlayRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src:
		url('./fonts/OpenSansBold.woff2') format('woff2'),
		url('./fonts/OpenSansBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	/* Colors */
	--blackpure: #000;
	--black: #171718;
	--black-border: #26292d;
	--white: #fff;
	--purple: #5c62ec;
	--background-btn-1: #6a5dc2;
	--background-btn-2: #fffa65;
	--background-btn-3: #25D366;


	/* Fonts */
	--font-family: "Play", sans-serif;
	--second-family: "Open Sans", sans-serif;
}

body {
	font-family: var(--font-family);
	color: var(--white);
}

.wrapper {
	min-height: 100vh;
	min-width: 320px;
	overflow: hidden;
	display: flex;
	flex-direction: column ;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 20px;
}

.main {
	flex: 1;
	background: var(--black-border);
}
