.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;
    border-radius: 20px;
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.2s ease-in;

    &:hover {
        opacity: 0.3;
    }

    &:active {
        opacity: 0.3;
    }
}

.btnResume {
    background-color: var(--purple);
}

.btnCinemaguied {
    background-color: var(--background-btn-1);
}

.btnYoldi {
    background-color: var(--background-btn-2);
    color: var(--blackpure);
}

.btnWhatsapp {
    background-color: var(--background-btn-3);
}
.btnTelegram {
    background-color: #0088cc;
}